/* 기본 스타일 */
body {
  font-family: "peach", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  background-color: #fffff6;
}
.wrapper {
  flex-direction: column;
  font-family: "peach", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  width: 1024px;
  max-width: 100%;
  margin: auto;
}
.container {
  font-family: "peach", sans-serif;
  width: 1024px;
  text-align: center;
  max-width: 100%;
}
#section-1 {
  display: block;
}
.logo {
  position: absolute;
  background-image: url("/static/images/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 110px;
  height: 30px;
  top: 20px;
  left: 20px;
}

.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin-bottom: 120px;
  position: relative;
}

.help {
  position: absolute;
  background: #ff8e03;
  color: #fffff6;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  padding: 0;
}

.help:hover {
  transform: scale(1.2);
}

.help-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px 50px;
  border: 2px solid #ff8e03;
  border-radius: 10px;
  text-align: left;
  justify-content: flex-start;
  z-index: 9999;
  width: 60%;
}

.help-modal h2 {
  font-size: 50px;
  color: #ff8e03;
  text-align: left;
}
.num {
  color: #ff8e03 !important;
}

.help-modal p {
  font-size: 2rem;
  line-height: 2.5;
  text-align: left;
}

/* 게임 설명 모달 닫기 버튼 */
.help-close-btn {
  position: absolute;
  background-color: #ff8e03;
  color: white;
  border: none;
  border-radius: 20px;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
}
/* 게임 설명 모달 배경 */
.help-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

/* 음성 버튼 스타일 */
.help-speak-btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.help-speak-btn:hover {
  transform: scale(1.2);
}
.speak-btn-game {
  padding: 0;
  background: none;
  border: none;
  font-size: 90px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.speak-btn-game:hover {
  transform: scale(1.2);
}
.title-text {
  position: relative;
  font-size: 7rem;
  letter-spacing: 1vw;
  white-space: nowrap;
}
.start {
  background-color: #ff8e03;
  color: #fffff6;
  font-size: 40px;
  padding: 18px 4%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.start:hover {
  transform: scale(1.2);
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px 50px;
  border: 2px solid #ff8e03;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 9999;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8000;
}

.check-btn {
  background-color: #ff8e03;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.check-btn:hover {
  background-color: #ff6f00;
  transform: scale(1.2);
}
