.game-section {
  display: none;
  text-align: center;
}

#section-1 .help {
  top: -5px; /* 제목보다 약간 위쪽 */
  left: 90px;
}

#section-2 .help {
  top: 20px; /* 섹션-1보다 더 위쪽 */
  right: 30px; /* 오른쪽으로 배치 */
}
#section-3 .help {
  top: 20px; /* 섹션-1보다 더 위쪽 */
  right: 30px; /* 오른쪽으로 배치 */
}

.intro-text {
  font-size: 4rem;
  padding: 0;
}
.speak-btn-read {
  border: none;
  background: none;
  font-size: 4rem;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.speak-btn-read:hover {
  transform: scale(1.2);
}
.game-word {
  padding: 10px;
  color: #ff8e03;
  font-size: 2rem;
}

.change-btn,
.listen-btn,
.speak-btn-user {
  border: none;
  background: none;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
}
.sentence-block {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 버튼과 정확도를 오른쪽으로 정렬 */
  border: 2px solid #ff8e03;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.8rem;
  width: 100%; /* 전체 너비 사용 */
  box-sizing: border-box;
  letter-spacing: 2px;
}

.sentence-all {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 버튼과 정확도를 오른쪽으로 정렬 */
  border: 2px solid #ff8e03;
  border-radius: 15px;
  padding: 20px;
  font-size: 1.8rem;
  width: 100%; /* 전체 너비 사용 */
  box-sizing: border-box;
  letter-spacing: 3px;
  line-height: 70px;
}

.sentence {
  flex-grow: 1; /* 문장이 가변적으로 차지하도록 설정 */
  padding: 5px 10px;
}

.tts-btn,
.record-btn,
.mic,
.tts {
  border: none;
  background: none;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 0 10px;
}

.accuracy-score {
  font-weight: bold;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* 정확도 텍스트 줄바꿈 방지 */
}

.next-btn {
  width: 200px;
  height: 60px;
  background-color: #ff8e03;
  color: #fffff6;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #ff6f00;
}
.word {
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.word.highlight {
  color: #ff8e03;
  font-weight: bold;
  background-color: rgba(255, 142, 3, 0.3);
  border-radius: 5px;
  padding: 2px 5px;
}
